body{
    background-image: url("https://lh3.googleusercontent.com/NcRpp1l8duQG5-_xp1AArCfOg-yERAYKQaPIMWMfxFnB4BiLVMGxDWpkhXBDj0RGHQ=h556");
    text-align: center;
    color: white;

}

#horoscope{
    font-family: monospace;
    font-size: 10px;
}

p{
    font-size: 20px;
}

#div{
    padding-bottom: 50px;
}
#image{
    display: block;
    margin: auto;
    width: 50%;
}